<br>
<div class="card">
	<div class="card-body center">
		<img width="120" height="160" src="/img/muñeca.png">
		<h1>Información la cocina de yoli</h1>
		<hr>

		<p>RECUERDO ESTAR EN MI TRABAJO, EL RELOJ CORRIA LENTO PERO SE ACERCABA LA HORA DE ALMORZAR. AL SALIR Y SIN UN
			RESTAURANTE CERCA, PENSÉ EN PEDIR COMIDA A DOMICILIO PERO TODO ERA MUY COSTOSO. ESE DÍA NO ALMORCE;
			PERO SURGIO UNA IDEA EN MI CABEZA...
		</p>
		<p>LA COCINA DE YOLI
			DONDE QUEREMOS BRINDARTE LA MEJOR COMIDA LLEVANDOLA HASTA EL LUGAR DONDE TE ENCUENTRES, QUEREMOS REFRESCARTE
			CON NUESTRAS BEBIDAS Y HACERTE SONRREIR CON NUESTROS POSTRES PORQUE QUEREMOS ESTAR CONTIGO, ACOMPAÑANDOTE
			TU LO PIDES, ELLA LO PREPARA, YO TE LE LLEVO...
		</p>

		<p><b>Contacto</b></p>
		<p>
			Si quieres saber más sobre nosotros o tienes alguna duda, escribenos a la dirección <a
				style="color:  black;" href="mailto:lacocinadeyoli@gmail.com">
				<u>lacocinadeyoli@gmail.com</u></a> O llena este formulario y trataremos de responderte lo más pronto
			posible.
		</p>
		<hr>
	</div>
	<div class="col-md-6 ">
		<div class="card mt-4 side">
			<div class="card-body ">
				<form action="/users/entrar" method="POST">
					<div class="form-group">
						<label style="color: #C00A27;">Nombre *</label>
						<input type="text" class="form-control" name="email" placeholder="Nombre" required>
					</div>
					<div class="form-group">
						<label style="color: #C00A27;">Correo *</label>
						<input type="email" class="form-control" name="email" placeholder="Correo electronico" required>
					</div>
					<div class="form-group">
						<label style="color: #C00A27;">Asunto *</label>
						<input type="email" class="form-control" name="email" placeholder="Escriba aquí su asunto" required>
					</div>
					<div class="form-group">
						<label style="color: #C00A27;">Mensaje *</label>
						<textarea type="text" class="form-control" name="email" placeholder="Escriba aquí su asunto" required></textarea>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block btn-danger">Enviar</button>
						<hr class="my-4">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

	document.title = 'La cocina de yoli - Nosotros';
</script>
<script>
	  $(document).ready(function () {

    $("#carouselExampleFade").hide();

  });
</script>